body{
    color: rgb(245, 255, 102);
    background-color:rgb(142, 226, 219);
}


.heading{
 width:80%;
 font-size:20 px;
}


#camera{
    border:2px dashed rgb(180, 49, 49);
    width:350px;
    height:300px;
}


.name_of_objects, #result_object_name, #result_object_accuracy{
    color: rgb(81, 253, 104);
}

